@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    
}
body{
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: #8D8D8D;
    font-weight: lighter;
}
.__nav a:hover{
    color: #505050;
    border-bottom: solid 2px #505050;
    padding-bottom: 1px;
    cursor: pointer;
}
.__container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    
}
.__nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-top: 0;
   
}
.__nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.__nav ul li{
    padding: 15px 30px;
    font-size: 12px;
    margin: 0 1.5em;
}

.__content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.__content div{
    width: 100%;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10em ;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 3em;
}

.__content h1{
    text-align: center;
    font-weight: lighter;   
    color: rgb(50, 50, 50, 0.85  );
    letter-spacing: .7em;
    font-size: 60px;
    padding: 0 10px;
}
.__content h3{
    font-weight: 20;   
    color: rgb(50, 50, 50, 0.7);
    letter-spacing: 0.6em;
    font-size: 20px;
}
.__content h6{

    font-weight: 20;   
    color: #464646;
    letter-spacing: 0.6em;
    font-size: 12px;
}


.__projectscontainer{
    margin-top: 10%;
    width: 100%;
    height: auto;
    
}
.__title{
    max-width: auto;
    display: flex;
    justify-content: center;
}
.__title h2{
    margin-left: 1em;
    font-weight: lighter;
    color: rgb(50, 50, 50, 0.7);
    letter-spacing: 3px;
}
.__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
}

.__project{
    width: 30%;
    max-height: 60%;
    border-bottom: solid 1px #E5E5E5;
    text-align: center;
    margin: 5% 0px;
    padding-bottom: 3%;
}
.__projectimage{
    width: 100%;
}
.__projectimage img{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    height: 50%;
    width: 95%;    
    padding-bottom:1em;
}
.project-title h3{
    font-size: 20px;
    font-weight: lighter;
    color: #464646;
}
.project-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.project-description p{
    width: auto;
    height: 10%;
    padding: 10px;
    font-size: 0.8em;
    color: #787878;
    padding-top: 0.5em;
    padding-bottom: 2em;
    font-weight: lighter;
}
.project-description button{
    background-color: #FFFFFF;
    border: 0.1px solid #717171;
    color: #2F2F2F;
    padding: 10px 15px;
    font-weight: lighter;
   
 }
 .project-description button:hover{
    cursor: pointer;
    background-color: #404040;
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 15px;
    font-weight: lighter;
 }

 /* SERVICES */
 .__servicesscontainer{
     max-width: 80%;
     height: auto;
     margin: 10% auto;
     
 }
 .services{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: auto;  
    text-align: left;
    padding: 5% 5%;
  
    margin: 5% 0px;

}
.service-wrapper{
    max-width: 40%; 
    
}
.services img{
    max-width: 100%;
    height: 279px;
    border: solid 1px #E5E5E5;
 }
 /* .service-wrapper{
     top: 0;
     left: 0;
     transform: translate(50%,50%);
 } */

.service-description p{
    letter-spacing: 2%;
    line-height: 2em;
    font-size: 0.8em;
    color: #787878;
    padding: 0.5em 0.2em;
    font-weight: lighter;
}

/* Design Tools & Web Technologies */
.__toolscontainer{
    margin: 15% 0px;
    width: 100%;
    margin: auto;

}
.__toolswrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.tools{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    margin-top: 70px;    
    border-bottom: solid 1px #E5E5E5;
}
.tool-image {
    width: 100%;
}

.tool-image img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 25%;
    width: 8em;    
   
}
.tools h5{
    color: #464646;
    margin-top: 0px;
    margin-bottom: 3px;
}
.tools p{
    margin-top: 3px;
}
.tools-description p{

    line-height: 2em;
    font-size: 12px;
    color: #787878;
    padding: 0.5em 0.2em;
}


/* About me section */
.aboutme-section{
    width: 88%;
    height: 100vh;
    margin: 20% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.aboutme-image-container{
    margin: 0 2%;
    width: 100%;
    height: 100%;
    background-image: url('../images/aboutme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    box-shadow: 15px 15px 1px rgba(176, 176, 176, 0.6);
}
.headline{
    margin-left: 3%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.headline div{
    width: 100%;
}

.aboutme{
    width: 50%;
    text-align: center;
}
.aboutme-section h2{
    margin: auto;
    font-weight: 10;
    color: #505050;
    padding-left: 0;
    text-align: left;
    font-size: 45px;
    letter-spacing: 0.2em;

}

.aboutme-section p{
    margin-right: 2%;
    line-height: 2em;
    font-size: 13px;
    color: #787878;
}

/* SMALL SCREEN */
 @media only screen and (max-width: 640px){
  /*   body{
        background-color: red;
    } */
    .__nav ul{
        width: 0;
    }
    .__content div{
        margin-left: 1em;
    }
    .__content h1{
        font-size: 2.5em;
    }
    .__content h3{
    
        font-size: 1em;
    }
    .__content h6{

    
        font-size: 0.6em;
    }
    .__projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .__title h2{
        margin-left: 1em;
        font-weight: lighter;
        color: rgb(50, 50, 50, 0.7);
        letter-spacing: 3px;
        font-size: 1.1em;
    }
    
    .__project{
        width: 90%;
        height: 60%;
        border-bottom: solid 1px #E5E5E5;
        text-align: center;
        margin: 5% 0px;
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
    }
    
    .service-wrapper{
        max-width: 95%;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services div{
        width: 95%;
    }
    .services img{
        width: 100%;
        height: 15%;
        background-size: cover;
        
        object-fit: cover;
        background-position:center;
    }
    .service-description p{
        font-size: 0.8em; 
    }
    .tools{
        width: 80%;
    }   
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .aboutme-image-container{
      
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }

    
}

/* MEDIUM SCREEN */
@media only screen and (min-width: 641px) and (max-width: 768px){
    .__nav{
        justify-content: center;
    }
    .__nav ul{
        margin: auto ;
    }
    .__content h1{
        font-size: 3.3em;
    }
    .__title h2{
        font-size: 1.2em;
    }
    .__project{
        width: 50%;
      
    }
   
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-wrapper{
        max-width: 95%;
    }
    .service-description p{
        font-size: 0.8em; 
    }
    .tools{
        width: 50%;
    }
    .tool-image img{
        width: 10em;    
        height: 3em;
    }
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 85%;

    }

    .aboutme-image-container{
      
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }

}
/* LARGE SCREEN */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .__nav{
        justify-content: center;
    }
    .__project{
        width: 48%;
        height: 70%;
    }
    .__projectimage img{
        height: 40%;   
    }
    .__title h2{
        font-size: 1.2em;
    }
   
    .service-wrapper{
        max-width: 90%;
        margin: auto;
  
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services div{
        width: 90%;
    }
    .services img{
        width: 100%;
        height: 15%;
        background-size: cover;
        
        object-fit: cover;
        background-position:center;
    }
    .service-description p{
        font-size: 0.8em; 
    }   
    .tools{
        width: 50%;
    }
    
    .tool-image img{
        width: 10em;    
        height: 3em;
    }
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;

    }

    .aboutme-image-container{
      
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }
}