@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
   overflow:hidden;
    
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: #8D8D8D;
    font-weight: lighter;
    transition: 0.3s;

}
.__nav a:hover{
    color: #505050;
    border-bottom: solid 2px #505050;
    padding-bottom: 1px;
    cursor: pointer;
    font-size: 1.08em;
}
.__container{
    width: 99%;
    height: auto;
    position: absolute;
    top: 0;
    overflow:hidden;
    
}
.__nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-top: 0;
    z-index: 20;
    
   
}
.__nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.__nav ul li{
    padding: 15px 30px;
    font-size: 12px;
    margin: 0 1.5em;
}

.__content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.__content div{
    width: 100%;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10em ;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 3em;
}

.__content h1{
    text-align: center;
    font-weight: lighter;   
    color: rgb(50, 50, 50, 0.85);
    letter-spacing: .7em;
    font-size: 60px;
    /* padding: 0 10px; */
}
.__content h3{
    font-weight: 20;   
    color: rgb(50, 50, 50, 0.7);
    letter-spacing: 0.6em;
    font-size: 20px;
}
.__content h6{

    font-weight: 20;   
    color: #464646;
    letter-spacing: 0.6em;
    font-size: 12px;
}


.__projectscontainer{
    margin-top: 10%;
    width: 100%;
    height: auto;
    
}
.__title{
    max-width: auto;
    display: flex;
    justify-content: center;
}

.__title h2{
    margin-left: 1em;
    font-weight: lighter;
    color: rgb(50, 50, 50, 0.85  );
    letter-spacing: 3px;
}
.__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%;
  
}

.__project{
    width: 28%;
    max-height: 70%;
    border-bottom: solid 1px #E5E5E5;
    text-align: center;
    margin: 5% 0px;
    padding-bottom: 3%;
  
}
.project-title p{
    font-size: 0.7em;
    padding: 0;
}
.__projectimage{
    width: 100%;
    height: auto;
    position: relative;
}
.__projectimage img{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    height: 50%;
    width: 100%;    
    transition: 0.8s;

}
.__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.__links i{
    font-size: 2em;
    margin: 0px 0.6em;
    transition: 0.3s;

}
.__links i:hover{
   color: #404040;
   font-size: 2.2em;
}
.overlay{
    position: absolute;
    top: 0;
    left: 5;
    height: 95%;
    width: 100%; 
    background-color: rgba(38, 38, 38, 0.85);
    display: none;
    
}
.overlay div{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay div i{  
    font-size: 2.5em;
    color: white;
    transition: 0.3s;

}

.__project img:hover + .overlay{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.project-title h3{
    font-size: 1.3em;
    font-weight: lighter;
    color: #464646;
}
/* .project-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    gap: 0;
} */
.project-description p{
/*     letter-spacing: 0.02em;
 */    text-align: left;
    max-width: 100%;
    max-height: 10%;
    padding: 13px 1em;
    font-size: 0.75em;
    color: #787878;
    font-weight: lighter;
}
button{
    margin-top: 3%;
    background-color: #FFFFFF;
    border: 0.1px solid #717171;
    color: #2F2F2F;
    padding: 10px 15px;
    font-weight:100;
   
 }
 button:hover{
    cursor: pointer;
    background-color: #404040;
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 15px;
    font-weight: lighter;
 }

 /* SERVICES */
 .__servicesscontainer{
     max-width: 80%;
     height: auto;
     margin: 10% auto;
     
 }
 .services{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;  
    text-align: left;
    padding: 3% 5%;
  
    margin: 5% 0px;

}
.service-wrapper{
    max-width: 60%; 
   
    
}
.services img{
    max-width: 100%;
    height: auto;
    border: solid 1px #E5E5E5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    object-fit: cover;
 }
 /* .service-wrapper{
     top: 0;
     left: 0;
     transform: translate(50%,50%);
 } */

.service-description p{
    letter-spacing: 0.0.5em;
    line-height: 2em;
    font-size: 0.90em;
    color: #8a8a8a;
    padding: 0.5em 0px;
    font-weight: lighter;
    word-spacing: 0.3em;
}

/* Design Tools & Web Technologies */
.__toolscontainer{
    margin: 15% 0px;
    width: 100%;
    margin: auto;

}
.__toolswrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.tools{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    margin-top: 70px;    
    border-bottom: solid 1px #E5E5E5;
}
.tool-image {
    width: 100%;
}

.tool-image img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 25%;
    width: 8em;    
   
}
.tools h5{
    color: #464646;
    margin-top: 0px;
    margin-bottom: 3px;
}
.tools p{
    margin-top: 3px;
}
.tools-description p{

    line-height: 2em;
    font-size: 12px;
    color: #787878;
    padding: 0.5em 0.2em;
}


/* About me section */
.aboutme-section{
    width: 88%;
    height: 100vh;
    margin: 20% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aboutme-image-container{
    margin: 0 2%;
    width: 100%;
    height: 100%;
    background-image: url('../images/aboutme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    box-shadow: 15px 15px 1px rgba(176, 176, 176, 0.6);
}
.headline{
    margin-left: 3%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.headline div{
    width: 100%;
}

.aboutme{
    width: 50%;
    text-align: center;
}
.aboutme-section h2{
    margin: auto;
    font-weight: 10;
    color: #505050;
    padding-left: 0;
    text-align: left;
    font-size: 45px;
    letter-spacing: 0.2em;

}

.aboutme-section p{
    margin-right: 2%;
    line-height: 2em;
    font-size: 0.90em;
    color: #8a8a8a;
}


.__footer{
    max-width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.__logos{
    max-width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.__icons{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.__icons i{
    margin: 0 0.8em;
    font-size: 1.9em;
    transition: 0.3s;
    color: rgb(50, 50, 50, 0.85);

}
.__icons i:hover{
    color: rgba(26, 26, 26, 0.85);
    font-size: 2.2em;
}

.__email{
    max-width: 45%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: 1px solid rgb(50, 50, 50, 0.85  );
}
.__email p{
    margin-left: 4em;
    font-size: 0.8em;
    color: rgb(50, 50, 50, 0.85  );
}

/* SMALL SCREEN */
 @media only screen and (max-width: 640px){
  /*   body{
        background-color: red;
    } */
    .__nav ul{
        width: 0;
    }
    .__content div{
        margin-left: 1em;
    }
    .__content h1{
        font-size: 2.6em;
    }
    .__content h3{
    
        font-size: 1.2em;
    }
    .__content h6{

    
        font-size: 0.7em;
    }
    .__projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .__title h2{
        margin-left: 1em;
        font-weight: lighter;
        color: rgb(50, 50, 50, 0.85);
        letter-spacing: 3px;
        font-size: 1.1em;
    }
    
    .__project{
        width: 90%;
        height: 60%;
        border-bottom: solid 1px #E5E5E5;
        text-align: center;
        margin: 5% 0px;
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
    }
    .project-description p{
        width: 90%;
        margin: auto;
        padding: 1.5em 1em;
     
    }
    
    .service-wrapper{
        max-width: 100%;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services div{
        width: 95%;
    }
    .services img{
        width: 100%;
        height: 15%;
        border:none;
    }
    .service-description p{
        font-size: 0.8em; 
    }
    .tools{
        width: 80%;
    }   
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .aboutme-image-container{
      
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }
    .__icons{
        width: 50%;
      
    }
    .__icons i{
        font-size: 1.5em;
        margin: 0.5;
    
    }
    .__email{
        width: 50%;
        
    }
    .__email p{
        font-size: 0.6em;
        margin-left: 2.5em;
    }
    

    
}

/* MEDIUM SCREEN */
@media only screen and (min-width: 641px) and (max-width: 768px){
    .__nav{
        justify-content: center;
    }
    .__nav ul{
        margin: auto ;
    }
    .__content h1{
        font-size: 3.3em;
    }
    .__title h2{
        font-size: 1.2em;
    }
    .__projects{
        padding: 2%;
    }
    .__project{
        width: 48%;
      
    }
    
   
    .services{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .services img{
        border: none;
    }
    .service-wrapper{
        max-width: 100%;
    }
    .service-description p{
        width: 100%;
        font-size: 0.8em; 
    }
    .tools{
        width: 50%;
    }
    .tool-image img{
        width: 10em;    
        height: 3em;
    }
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 85%;

    }

    .aboutme-image-container{
      
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }
    .__icons i{
        font-size: 1.7em;
    
    }
    .__email p{
        font-size: 0.7em;
        margin-left: 2.5em;
    }

}
/* LARGE SCREEN */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .__nav{
        justify-content: center;
    }
    .__project{
        width: 48%;
        height: 70%;
    }
    .__projectimage img{
        height: 40%;   
    }
    .project-description p{
        text-align: center;
        padding: 0px 15px;
        
    }
    .__title h2{
        font-size: 1.2em;
    }
   
    .service-wrapper{
        max-width: 100%;
        margin: auto;
  
    }
    .services{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 3% 0px;
    }
  /*   .services div{
        width: 90%;
    } */
    .image-wrapper{
        width: 80%;
    }
    .services img{
        width: 100%;
        height: 10%;
        
        border: none;
        
    }
    
    .service-description p{
        font-size: 0.8em; 
    }   
    .tools{
        width: 50%;
    }
    
    .tool-image img{
        width: 10em;    
        height: 3em;
    }
    .aboutme-section{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;

    }

    .aboutme-image-container{
        
        box-shadow: none;
    }
    .headline h2{
        font-size: 1.6em;
        margin-top: 1.8em;
        margin-bottom: 1em;
    }
    .__email p{
        font-size: 0.7em;
        margin-left: 2.5em;
    }
}