@forward '../fonts/fonts';
@forward '../utilities/variables';

@use '../utilities/variables';
@use '../fonts/fonts';

@mixin footer {
  max-width: 100%;
  margin: 5em 0;
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .email-container {
      padding: 1em 0;
      display: flex;
      justify-content: center;
      p {
        font-family: fonts.$poppins;
        color: variables.$primary-color;
        font-size: 0.7em;
      }
    }
    .icons {
      display: flex;
      justify-content: center;
      svg {
        width: 35px;
        height: 35px;
        fill: variables.$primary-color;
        margin: 0 1em;
        cursor: pointer;
      }
    }
    .icons:hover {
      transform: scale(38px);
    }
  }
}
